@import '../../../../ueg-theme';

.style-header{
  font-weight: bold;
  background-color: $theme-background-solid;
}
.data{
  background-color: #FF0000
}

.f{
  border-right: none;
}
.text-right{
  text-align: right;
}
.style-column{
  border-right: 1px #e7e5e5 solid;
}


::ng-deep #chart-demo {
  height: 460px;
}

::ng-deep #chart {
  position: absolute;
  top: 12px;
  right: 35px;
  width: 780px;
  height: 347px;
}

::ng-deep .chart_environment {
  width: 1120px;
  position: relative;
  margin: 0 auto;
}
.container{
	display: grid;
  grid-template-columns:
repeat(4, auto);
grid-template-rows:
30px 30px;
grid-gap: 16px;
overflow: hidden;

}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  background:#6c38c3;
  text-align:center;
}
.column:nth-child(odd) {
  background:#9a7dcc;
}
.column + .column {
  border-left:2px solid rgb(31, 25, 25);
}

.item
{
  text-shadow: 2px 4px 5px black;
  color:white;
  font-weight:bolder;
  font-size: 20px;

}

.item1{
  font-size: 30px;
  color:#eee;
  font-weight: bold;
}

::ng-deep .controls-pane {
  text-align: center;
}

.filter-position{
  margin:3px;
}

.table-detail{
  margin-top: 10px;
  border: 1px #e7e5e5 solid;
}

.mat-row-lt-sm{
  min-height: 0;
}

.mat-body-strong{
  width: 10px;
  font-size: 5em;
}

.text{
  margin-right: 200px;
}

