<div fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%">

  <div fxLayout="row">
    <div fxFlex fxFlexAlign="center">
      <span class="content__title">{{'LABEL_PESQUISAR_VENDA' | i18n}}</span>
    </div>
    <div fxFlex fxLayoutAlign="end center">
      <button class="mat-button mat-raised-button mat-accent mat-button-base"
              title="{{'LABEL_ADICIONAR_NOVO' | i18n}}" routerLink="/administracao/venda/incluir"
            >
        {{'LABEL_ADICIONAR_NOVO' | i18n}}
      </button>
      <!-- *ngIf="securityService.hasRoles('ROLE_VENDA_INCLUIR')"-->
    </div>
  </div>

<mat-card>
    <mat-card-title>{{'LABEL_FILTRO_PARA_PESQUISA' | i18n}}</mat-card-title>
    <div fxLayout="column">
      <mat-card-content fxLayout="column" fxLayoutAlign.gt-xs="center" fxLayout.lt-sm="column">

        <mat-form-field fxFlex fxFlex.gt-xs="70" fxFlex.lt-sm="100"fxFlexOffset.gt-xs="1">
          <mat-label>{{'LABEL_VALORTOTAL' | i18n}}</mat-label>
          <input matInput placeholder="{{'LABEL_INFORME_VALORTOTAL' | i18n}}" title="{{'LABEL_VALORTOTAL' | i18n}}"
                  maxlength="100">
        </mat-form-field>

        <mat-form-field fxFlex fxFlex.gt-xs="70" fxFlex.lt-sm="100">
          <mat-label>{{'LABEL_QUANTIDADE' | i18n}}</mat-label>
          <input matInput placeholder="{{'LABEL_VENDA_HINT' | i18n}}" title="{{'LABEL_QUANTIDADE' | i18n}}"
                  maxlength="100">
        </mat-form-field>

        <mat-form-field fxFlex.gt-xs="30" fxFlex.lt-sm="100" fxFlexOffset.gt-xs="1">
          <mat-label>{{'LABEL_STATUS_ESPERA' | i18n}}</mat-label>
          <mat-select placeholder="{{'LABEL_STATUS_ESPERA' | i18n}}" title="{{'LABEL_STATUS_ESPERA' | i18n}}"
                      [(ngModel)]="filtroDTO.statusEspera">
            <mat-option [value]="undefined">{{ 'LABEL_TODOS' | i18n}}</mat-option>
            <mat-option *ngFor="let statusEspera of listStatusEsperas" [value]="statusEspera.id">
              {{statusEspera.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex.gt-xs="30" fxFlex.lt-sm="100" fxFlexOffset.gt-xs="1">
          <mat-label>{{'LABEL_STATUS_VENDIDO' | i18n}}</mat-label>
          <mat-select placeholder="{{'LABEL_STATUS_VENDIDO' | i18n}}" title="{{'LABEL_STATUS_VENDIDO' | i18n}}"
                      [(ngModel)]="filtroDTO.statusVendido">
            <mat-option [value]="undefined">{{ 'LABEL_TODOS' | i18n}}</mat-option>
            <mat-option *ngFor="let statusVendido of listStatusVendido" [value]="statusVendido.id">
              {{statusVendido.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <ng-container matColumnDef="dataCadastro">
          <mat-header-cell
            fxFlex="15"
            class="style-header"
            fxHide.xs="true"
            fxLayoutAlign="none center"
            *matHeaderCellDef
          >
            {{ "LABEL_DATA_VENDA" | i18n }}
          </mat-header-cell>
          <mat-cell
            fxFlex="15"
            fxFlex.lt-sm="100"
            ngClass.gt-sm="style-column"
            fxLayoutAlign="start center"
            *matCellDef="let element"
          >
            <div fxFlex fxLayout="row">
              <div
                fxFlex="130px"
                fxHide.gt-xs="true"
                fxLayoutAlign="end center"
              >
                <span class="mat-body-strong text-right"
                  >{{ "LABEL_DATA_VENDA" | i18n }} :</span
                >
              </div>
              <div
                fxFlex
                fxLayoutAlign.gt-xs="center center"
                fxLayoutAlign.lt-sm="start center"
                fxLayoutGap.lt-sm="1"
              >
                {{ element.dataVenda | date: "dd/MM/yyyy" }}
              </div>
            </div>
          </mat-cell>
        </ng-container>

      <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
        <div fxFlex.gt-sm="50" fxFlex.sm="50" fxFlex.lt-sm="100" fxFlexAlign="space-between" fxLayoutAlign="center center">
          <button fxFlex fxFlexOffset="1" type="submit" title="{{'LABEL_LIMPAR' | i18n}}" (click)="limpar()"
                  class="mat-button mat-raised-button mat-warn mat-button-base">
            <span>{{'LABEL_LIMPAR' | i18n}}</span>
          </button>
          <button fxFlex fxFlexOffset="1" type="submit" title="{{'LABEL_PESQUISAR' | i18n}}"
                  (click)="pesquisar(filtroDTO)"
                  class="mat-button mat-raised-button mat-primary mat-button-base">
            <span>{{'LABEL_PESQUISAR' | i18n}}</span>
          </button>
        </div>
      </div>
      </mat-card-content>





      <mat-card>
        <mat-card-content *ngIf="dataSource.data.length != 0">
          <div
            fxLayout="column"
            fxFlex="100">

            <div class="table-detail">
              <mat-table #table [dataSource]="dataSource">

                <ng-container matColumnDef="valorTotal">
                  <mat-header-cell class="style-header" fxHide.xs="true"
                                   *matHeaderCellDef> {{ 'LABEL_VALORTOTAL' | i18n}} </mat-header-cell>
                  <mat-cell fxFlex.lt-sm="100" ngClass.gt-sm="style-column" fxLayoutAlign="start center"
                            *matCellDef="let element">
                    <div fxFlex fxLayout="row">
                      <div fxFlex="130px" fxHide.gt-xs="true" fxLayoutAlign="end center" fxLayoutGap.lt-sm="1">
                        <span class="mat-body-strong" >{{ 'LABEL_VALORTOTAL' | i18n}} :</span>
                      </div>
                      <div>
                         R$ {{element.valorTotal}}
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="quantidade">
                  <mat-header-cell  class="style-header" fxHide.xs="true" fxLayoutAlign="start center"
                                   *matHeaderCellDef> {{ 'LABEL_NOME_CLIENTE' | i18n}} </mat-header-cell>
                  <mat-cell fxFlex.lt-sm="100" ngClass.gt-sm="style-column" fxLayoutAlign="start center"
                            *matCellDef="let element">
                    <div fxFlex fxLayout="row">
                      <div fxFlex="130px" fxHide.gt-xs="true" fxLayoutAlign="end center" fxLayoutGap.lt-sm="1">
                        <span class="mat-body-strong">{{ 'LABEL_NOME_CLIENTE' | i18n}} :</span>
                      </div>
                      <div>
                        {{element.nomeCliente}}
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="dataVenda">
                  <mat-header-cell fxFlex="12" class="style-header" fxHide.xs="true" fxLayoutAlign="none center"
                                   *matHeaderCellDef> {{ 'LABEL_DATAVENDA' | i18n}} </mat-header-cell>
                  <mat-cell fxFlex="15" fxFlex.lt-sm="100" ngClass.gt-sm="style-column" fxLayoutAlign="start center"
                            *matCellDef="let element">
                    <div fxFlex fxLayout="row">
                      <div fxFlex="130px" fxHide.gt-xs="true" fxLayoutAlign="end center">
                        <span class="mat-body-strong text-right">{{ 'LABEL_DATAVENDA' | i18n}} :</span>
                      </div>
                      <div fxFlex fxLayoutAlign.gt-xs="center center" fxLayoutAlign.lt-sm="start center"
                           fxLayoutGap.lt-sm="1">
                        {{element.dataVenda | date: 'dd/MM/yyyy'}}
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="statusEspera">
                  <mat-header-cell fxFlex="14" class="style-header" fxLayoutAlign="center center"
                                   *matHeaderCellDef>{{ 'LABEL_STATUS_ESPERA' | i18n}}  </mat-header-cell>
                  <mat-cell fxFlex.gt-sm="100px" fxFlex.lt-sm="100" ngClass.gt-sm="style-column"
                            fxLayoutAlign="center center" *matCellDef="let element">
                    <div fxFlex fxLayout="row">
                      <div fxFlex="130px" fxHide.gt-xs="true" fxLayoutAlign="end center">
                        <span class="mat-body-strong">{{ 'LABEL_STATUS_ESPERA' | i18n}}? :</span>
                      </div>
                      <div fxFlex fxLayoutAlign.gt-xs="center center" fxLayoutAlign.lt-sm="start center"
                           fxLayoutGap.lt-sm="1">
                        <mat-slide-toggle [(ngModel)]="element.statusEspera" (change)="alterarStatusVendaEspera(element)"
                                          title="{{ (element.statusEspera ? 'LABEL_SIM' : 'LABEL_NAO') | i18n }}"
                                          [disabled]="element.statusVendido"
                                          *ngIf="securityService.hasRoles('ROLE_VENDA_ALTERAR')">
                        </mat-slide-toggle>
                        <span *ngIf="!securityService.hasRoles('ROLE_VENDA_ALTERAR')">
                                        {{(element.statusEspera ? 'LABEL_SIM' : 'LABEL_NAO') | i18n}}
                                    </span>
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="statusVendido">
                  <mat-header-cell fxFlex.gt-sm="120px" class="style-header" fxLayoutAlign="center center"
                                   *matHeaderCellDef>{{ 'LABEL_STATUS_VENDIDO' | i18n}}  </mat-header-cell>
                  <mat-cell fxFlex.gt-sm="100px" fxFlex.lt-sm="100" ngClass.gt-sm="style-column"
                            fxLayoutAlign="center center" *matCellDef="let element">
                    <div fxFlex fxLayout="row">
                      <div fxFlex="130px" fxHide.gt-xs="true" fxLayoutAlign="end center">
                        <span class="mat-body-strong">{{ 'LABEL_STATUS_VENDIDO' | i18n}}? :</span>
                      </div>
                      <div fxFlex fxLayoutAlign.gt-xs="center center" fxLayoutAlign.lt-sm="start center"
                           fxLayoutGap.lt-sm="1">
                        <mat-slide-toggle
                                           [(ngModel)]="element.statusVendido" (change)="alterarStatusVendido(element) "
                                          [disabled]="element.statusVendido"
                                          title="{{ (element.statusVendido ? 'LABEL_SIM' : 'LABEL_NAO') | i18n }}"
                                          *ngIf="securityService.hasRoles('ROLE_VENDA_ALTERAR')"

                                          >
                        </mat-slide-toggle>
                       <!--<mat-slide-toggle [(ngModel)]="element.statusVendido" (change)="alterarStatusVendido(element) "
                        *ngIf="securityService.hasRoles('ROLE_VENDA_ALTERAR') && element.statusVendido==true"
                        title="{{ (element.statusVendido ? 'LABEL_SIM' : 'LABEL_NAO') | i18n }}"
                        >
                        </mat-slide-toggle>-->
                        <span *ngIf="!securityService.hasRoles('ROLE_VENDA_ALTERAR') "
      >
                                        {{(element.statusVendido ? 'LABEL_SIM' : 'LABEL_NAO') | i18n}}
                                    </span>
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>


                <ng-container matColumnDef="acoes">
                  <mat-header-cell fxFlex.gt-sm="100px" class="style-header f" fxLayoutAlign="start center"
                                   *matHeaderCellDef> {{ 'LABEL_ACOES' | i18n}} </mat-header-cell>
                  <mat-cell fxFlex.lt-sm="100" fxLayoutAlign="center center" fxFlex.gt-sm="150px"
                            *matCellDef="let element">
                    <div fxFlex fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">
                      <div fxHide.gt-xs="true" fxLayoutAlign="center center">
                        <span class="mat-body-strong">{{ 'LABEL_ACOES' | i18n}} :</span>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="center center">
                        <a mat-mini-fab title="{{'LABEL_VISUALIZAR_VENDA' | i18n}}" class="btn-primary"
                           *ngIf="securityService.hasRoles('ROLE_VENDA_VISUALIZAR')"
                           [routerLink]="['/administracao/venda', element.id, 'visualizar']">
                          <mat-icon>search</mat-icon>
                        </a>

                      <!--  <a mat-mini-fab title="{{'LABEL_ALTERAR_VENDA' | i18n}}" class="btn-primary"
                           *ngIf="securityService.hasRoles('ROLE_VENDA_ALTERAR')"
                           [routerLink]="['/administracao/venda', element.id, 'alterar']">
                          <mat-icon>edit</mat-icon>
                        </a>-->

                        <a mat-mini-fab title="{{'LABEL_VENDA_REMOVER' | i18n}}" class="btn-primary"
                           *ngIf="securityService.hasRoles('ROLE_VENDA_REMOVER') && element.statusVendido==false"
                           (click)="remover(element)">
                          <mat-icon>close</mat-icon>
                        </a>
                      </div>
                    </div>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns" fxHide.lt-sm="true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" fxLayout.lt-sm="column" fxLayout="row"
                         fxLayoutAlign.lt-sm="space-around stretch"
                         ngClass.lt-sm="mat-row-lt-sm"
                ></mat-row>

              </mat-table>
            </div>
          </div>
        </mat-card-content>

        <mat-card-footer>
          <mat-paginator [pageSize]="PAGINATOR_PAGE_SIZE" hidePageSize showFirstLastButtons></mat-paginator>
        </mat-card-footer>
      </mat-card>
    </div>


