 <div fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%">
   <!--
  <div fxLayout="row">
    <div fxFlex fxFlexAlign="center">
      <span class="content__title">{{ "LABEL_PESQUISAR_PRODUTO" | i18n }}</span>
    </div>
    <div fxFlex fxLayoutAlign="end center">
      <button
        class="mat-button mat-raised-button mat-accent mat-button-base"
        title="{{ 'LABEL_ADICIONAR_NOVO' | i18n }}"
        routerLink="/administracao/produto/incluir"
      >
        {{ "LABEL_ADICIONAR_NOVO" | i18n }}
      </button>
      *ngIf="securityService.hasRoles('ROLE_PRODUTO_INCLUIR')"
    </div>

    <canvas #grafico>

    </canvas>-->
    <mat-card>
      <mat-card-content fxLayout="column">
    <span style="font-size: 250%; background: inherit;font-family:'Time News Roman'"> <!-- inherit the background -->

      {{ "LABEL_VALOR" | i18n }}

  </span>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content fxLayout="column">
        <div fxLayout="column" fxLayoutAlign.gt-xs="center center" >

          <div class="row">

            <div class="column">
              <div class="itemm" ></div>

            </div>
            </div>
            <div class="row">

              <div class="column">
                <div class="item1" >{{valorEstoque}} reais</div>

              </div>
              </div>



        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
  <mat-card-content fxLayout="column">
    <div fxLayout="column" fxLayoutAlign.gt-xs="center center" >
      <div class="row">

        <div class="column">
          <div class="item" >Produto com menos saída</div>

        </div>
        <div class="column">
          <div class="item" >Produto com mais saída</div>

        </div>
        <div class="column">
          <div class="item" >Quantidade</div>

        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="item1" >{{produto1}} </div>

        </div>

        <div class="column">
          <div class="item1" >{{produtoMaisSaida}} </div>

        </div>
        <div class="column">
          <div class="item1" >{{quantidade}}</div>
        </div>
      </div>


    </div>
  </mat-card-content>
</mat-card>


  </div>



