<div fxLayout="column" fxLayoutGap="1.5%" fxLayoutGap.xs="2%">
  <div fxLayout="row">
    <div class="content__title" fxFlex fxFlexAlign="center">
      <span *ngIf="acaoSistema.isAcaoAlterar()">{{
        "LABEL_ALTERAR_PRODUTO" | i18n
      }}</span>
      <span *ngIf="acaoSistema.isAcaoIncluir()">{{
        "LABEL_INCLUIR_PRODUTO" | i18n
      }}</span>
      <span *ngIf="acaoSistema.isAcaoVisualizar()">{{
        "LABEL_VISUALIZAR_PRODUTO" | i18n
      }}</span>
    </div>
  </div>

  <mat-card fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%">
    <form #formPRODUTO="ngForm">
      <mat-card fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%">
        <mat-card-title>
          <span>{{ "LABEL_DADOS_PRODUTO" | i18n }}</span>
        </mat-card-title>
        <mat-card-content
          fxLayout="column"
          fxLayoutGap="0.7%"
          fxLayoutGap.xs="3%"
        >
          <div
            fxLayout="column"
            fxLayoutAlign.gt-xs="end end"
            fxLayout.lt-sm="column"
            fxLayoutGap="0.7%"
            fxLayoutGap.xs="7%"
          >
            <!-- <div fxLayout="column" fxLayoutAlign.gt-xs="start start" fxLayout.lt-sm="row" fxLayoutGap.lt-sm="3%" fxLayoutGap.gt-xs="7%"
                 *ngIf="acaoSistema.isAcaoAlterar() || acaoSistema.isAcaoVisualizar()">
              <mat-label>{{'LABEL_STATUS_PRODUTO' | i18n}}:</mat-label>
              <mat-slide-toggle [(ngModel)]="produto.produto" (change)="alterarStatusProduto(produto)" name="statusProduto"
                                *ngIf="acaoSistema.isAcaoAlterar() && securityService.hasRoles('ROLE_PRODUTO_STATUS')"
                                title="{{ (produto.produto? 'LABEL_SIM' : 'LABEL_NAO') | i18n }}"
              >
              </mat-slide-toggle>
              <mat-label
                *ngIf="acaoSistema.isAcaoVisualizar() || !securityService.hasRoles('ROLE_PRODUTO_STATUS')">
                {{(produto.produto ? 'LABEL_SIM' : 'LABEL_NAO') | i18n}}
              </mat-label>
            </div>
          --></div>

          <div
            fxLayout="row"
            fxLayoutAlign.gt-xs="center end"
            fxLayout.lt-sm="column"
            fxLayoutGap="1.7%"
            fxLayoutGap.xs="7%"
          >
            <mat-form-field fxFlex>
              <mat-label>{{ "LABEL_NOME" | i18n }}</mat-label>
              <input
                matInput
                placeholder="{{ 'LABEL_INFORME_NOME' | i18n }}"
                title="{{ 'LABEL_NOME' | i18n }}"
                [(ngModel)]="produto.nome"
                name="nome"
                required
                maxlength="20"
                [disabled]="acaoSistema.isAcaoVisualizar()"
              />
              <mat-error
                validationMessage
                [submitted]="submittedProduto"
              ></mat-error>
            </mat-form-field>
          </div>

          <div
            fxLayout="row"
            fxLayoutAlign.gt-xs="center end"
            fxLayout.lt-sm="column"
            fxLayoutGap="1.7%"
            fxLayoutGap.xs="7%"
          >
            <mat-form-field fxFlex>
              <mat-label>{{ "LABEL_PRECO" | i18n }}</mat-label>
              <input
                matInput
                placeholder="{{ 'LABEL_INFORME_PRECO' | i18n }}"
                title="{{ 'LABEL_PRECO' | i18n }}"
                [(ngModel)]="produto.preco"
                name="preco"
                required
                maxlength="20"
                [disabled]="acaoSistema.isAcaoVisualizar()"
              />
              <mat-error
                validationMessage
                [submitted]="submittedProduto"
              ></mat-error>
            </mat-form-field>
          </div>

          <!-- <div fxLayout="row" fxLayoutAlign.gt-xs="center end" fxLayout.lt-sm="column" fxLayoutGap="0.7%">-->

          <mat-form-field fxFlex>
            <mat-label>{{ "LABEL_QUANTIDADE" | i18n }}</mat-label>
            <input
              matInput
              placeholder="{{ 'LABEL_INFORME_QUANTIDADE' | i18n }}"
              title="{{ 'LABEL_QUANTIDADE' | i18n }}"
              [(ngModel)]="produto.quantidade"
              name="quantidade"
              required
              maxlength="20"
              [disabled]="acaoSistema.isAcaoVisualizar() || acaoSistema.isAcaoAlterar()"
            />
            <mat-error
              validationMessage
              [submitted]="submittedProduto"
            ></mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <mat-label>{{ "LABEL_VLIQUIDO" | i18n }}</mat-label>
            <input
              matInput
              placeholder="{{ 'LABEL_INFORME_VLIQUIDO' | i18n }}"
              title="{{ 'LABEL_VLIQUIDO' | i18n }}"
              [(ngModel)]="produto.vliquido"
              name="vliquido"
              required
              maxlength="20"
              [disabled]="acaoSistema.isAcaoVisualizar()"
            />
            <mat-error
              validationMessage
              [submitted]="submittedProduto"
            ></mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <mat-label>{{ "LABEL_DESCRICAO" | i18n }}</mat-label>
            <input
              matInput
              placeholder="{{ 'LABEL_INFORME_DESCRICAO' | i18n }}"
              title="{{ 'LABEL_DESCRICAO' | i18n }}"
              [(ngModel)]="produto.descricao"
              name="descricao"
              maxlength="20"
              [disabled]="acaoSistema.isAcaoVisualizar()"
            />
          </mat-form-field>

          <div
            fxLayout="row"
            fxLayoutAlign.gt-xs="center end"
            fxLayout.lt-sm="column"
            fxLayoutGap="0.7%"
          >
            <mat-form-field fxFlex fxFlex.gt-xs="50" fxFlex.lt-sm="100">
              <mat-label>{{ "LABEL_DATA_CADASTRO" | i18n }}</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                [(ngModel)]="produto.dataCadastro"
                name="dataCadastro"
                readonly
                (focus)="picker.open()"
                (click)="picker.open()"
                placeholder="{{ 'LABEL_DATA_CADASTRO' | i18n }}"
                [disabled]="acaoSistema.isAcaoVisualizar()"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field
              fxFlex.gt-xs="50"
              fxFlex.lt-sm="100"
              fxFlexOffset.gt-xs="1"
            >
              <mat-label>{{ "LABEL_TIPO_PRODUTO" | i18n }}</mat-label>
              <mat-select
                placeholder="{{ 'LABEL_TIPO_PRODUTO' | i18n }}"
                title="{{ 'LABEL_TIPO_PRODUTO' | i18n }}"
                [(ngModel)]="produto.idTipoProduto"
                [disabled]="acaoSistema.isAcaoVisualizar()"
                name="tipoProduto"
              >
                <mat-option [value]="undefined">{{
                  "LABEL_SELECIONE" | i18n
                }}</mat-option>
                <mat-option
                  *ngFor="let tipoProduto of tipoProdutos"
                  [value]="tipoProduto.id"
                >
                  {{ tipoProduto.nome }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </form>

    <mat-card-footer fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%">
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center">
        <div
          fxFlex.gt-sm="30"
          fxFlex.sm="50"
          fxFlex.lt-sm="100"
          fxFlexAlign="space-between"
          fxLayoutAlign="end center"
        >
          <a
            title="{{ 'LABEL_VOLTAR' | i18n }}"
            (click)="cancelar()"
            fxFlex
            fxFlexOffset="1"
            class="mat-button mat-raised-button mat-primary mat-button-base"
            *ngIf="acaoSistema.isAcaoVisualizar()"
          >
            <span>{{ "LABEL_VOLTAR" | i18n }}</span>
          </a>
          <a
            title="{{ 'LABEL_CANCELAR' | i18n }}"
            (click)="cancelar()"
            fxFlex
            fxFlexOffset="1"
            class="mat-button mat-raised-button mat-warn mat-button-base"
            *ngIf="!acaoSistema.isAcaoVisualizar()"
          >
            <span>{{ "LABEL_CANCELAR" | i18n }}</span>
          </a>
          <button
            type="submit"
            title="{{ 'LABEL_SALVAR' | i18n }}"
            (click)="salvar(produto, formPRODUTO, $event)"
            fxFlex
            fxFlexOffset="1"
            class="mat-button mat-raised-button mat-primary mat-button-base"
            *ngIf="acaoSistema.isAcaoAlterar() || acaoSistema.isAcaoIncluir()"
          >
            <span>{{ "LABEL_SALVAR" | i18n }}</span>
          </button>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
