 <div fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%">
   <!--
  <div fxLayout="row">
    <div fxFlex fxFlexAlign="center">
      <span class="content__title">{{ "LABEL_PESQUISAR_PRODUTO" | i18n }}</span>
    </div>
    <div fxFlex fxLayoutAlign="end center">
      <button
        class="mat-button mat-raised-button mat-accent mat-button-base"
        title="{{ 'LABEL_ADICIONAR_NOVO' | i18n }}"
        routerLink="/administracao/produto/incluir"
      >
        {{ "LABEL_ADICIONAR_NOVO" | i18n }}
      </button>
      *ngIf="securityService.hasRoles('ROLE_PRODUTO_INCLUIR')"
    </div>

    <canvas #grafico>

    </canvas>-->

      <!-- <mat-card> -->
        <mat-card-content fxLayout="column">
          <!-- <h6>{{' '}}</h6> -->
          <h1>
            Vendas com clientes cadastrados
          </h1>
          <!-- <h6>{{' '}}</h6> -->
        </mat-card-content>
      <!-- </mat-card> -->

    <mat-card>
      <mat-card-content fxLayout="column">
        <div fxLayout="column" fxLayoutAlign.gt-xs="center center" >
          <canvas #grafico>

          </canvas>

        </div>
      </mat-card-content>
    </mat-card>




  </div>



