 <div fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%">
   <!--
  <div fxLayout="row">
    <div fxFlex fxFlexAlign="center">
      <span class="content__title">{{ "LABEL_PESQUISAR_PRODUTO" | i18n }}</span>
    </div>
    <div fxFlex fxLayoutAlign="end center">
      <button
        class="mat-button mat-raised-button mat-accent mat-button-base"
        title="{{ 'LABEL_ADICIONAR_NOVO' | i18n }}"
        routerLink="/administracao/produto/incluir"
      >
        {{ "LABEL_ADICIONAR_NOVO" | i18n }}
      </button>
      *ngIf="securityService.hasRoles('ROLE_PRODUTO_INCLUIR')"
    </div>

    <canvas #grafico>

    </canvas>-->

    <!-- <mat-card> -->
      <mat-card-content fxLayout="column">
        <!-- <h6>{{' '}}</h6> -->
        <h1>
          Consulta de Vendas
        </h1>
        <!-- <h6>{{' '}}</h6> -->
      </mat-card-content>
    <!-- </mat-card> -->


    <form #formVenda="ngForm">
    <mat-card>
      <div fxLayout="row"  >
        <button class="mat-button mat-raised-button mat-accent mat-button-base"
        title="{{'LABEL_VOLTAR' | i18n}}" routerLink="/administracao/venda/relatorio"
      >
        {{'LABEL_VOLTAR' | i18n}}
      </button>
      </div>
      <form fxLayout="column">
        <div fxLayout="column" fxLayoutAlign.gt-xs="center center" >
          <div class="div1" fxLayout="row" fxLayoutAlign.gt-xs="center end" fxLayout.lt-sm="column" fxLayoutGap="0.7%" >
            <mat-form-field fxFlex fxFlex.gt-xs="50" fxFlex.lt-sm="100" >
              <mat-label>{{'LABEL_DATAINICIAL' | i18n}}</mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="vendaDataInicial" name="dataVenda" readonly
                     (focus)="picker.open()" (click)="picker.open()" placeholder="{{'LABEL_DATAINCIAL' | i18n}}"
                    >
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div fxLayout="column" fxLayoutAlign.gt-xs="center end" fxLayout.lt-sm="column" fxLayoutGap="0.7%">
            <mat-form-field  fxFlex fxFlex.gt-xs="50" fxFlex.lt-sm="100">
              <mat-label>{{'LABEL_DATAFINAL' | i18n}}</mat-label>
              <input matInput [matDatepicker]="picker1" [(ngModel)]="vendaDataFinal" name="dataVendaFinal" readonly
                     (focus)="picker1.open()" (click)="picker1.open()" placeholder="{{'LABEL_DATAFINAL' | i18n}}"
                    >
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutAlign.gt-xs="start center" fxLayout.lt-sm="column" fxLayoutGap="0.7%">
            <button class="bu" type="submit" title="{{'LABEL_FILTRAR' | i18n}}" (click)="salvar(vendaDataInicial,vendaDataFinal,formVenda, $event)"
            fxFlex fxFlexOffset="1"
            class="mat-button mat-raised-button mat-primary mat-button-base"

            >
            <span>{{'LABEL_FILTRAR' | i18n}}</span>
    </button>
    </div>


          </div>



  </div>
</form>

<!--

<mat-card>
  <mat-card-content fxLayout="column">
    <div fxLayout="column" fxLayoutAlign.gt-xs="center center" >

      <dx-chart
  id="chart"
  title="Vendas Diárias"
  [dataSource]="objetosFiltrados"
  [rotated]="true"
  (onPointClick)="pointClickHandler($event)"
          (onLegendClick)="legendClickHandler($event)">
>
  <dxi-series color="#79cac4" type="bar" argumentField="dataVenda" valueField="valorTotal">
    <dxo-label [visible]="true" backgroundColor="#c18e92"></dxo-label>
  </dxi-series>
  <dxo-argument-axis>
    <dxo-label ></dxo-label>
  </dxo-argument-axis>
  <dxi-value-axis>
    <dxo-tick [visible]="false"></dxo-tick>
    <dxo-label [visible]="false"></dxo-label>
  </dxi-value-axis>
  <dxo-export [enabled]="true"></dxo-export>
  <dxo-legend [visible]="false"></dxo-legend>
</dx-chart>


    </div>
  </mat-card-content>
</mat-card>




<mat-card fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%"></mat-card>
<mat-card fxLayout="column" fxLayoutGap="1%" fxLayoutGap.xs="2%">
<dx-chart
  id="chart"
  title="Venda Diárias"
  [dataSource]="objetoFiltro"
>
  <dxo-legend [visible]="false"></dxo-legend>
  <dxi-series type="bar"  argumentField="dataVenda"
  valueField="valorTotal">>

  </dxi-series>
  <dxo-argument-axis [tickInterval]="5">
    <dxo-label [customizeText]="customizeLabel"></dxo-label>
    <dxo-label>
      <dxo-format type="decimal"></dxo-format>
    </dxo-label>
  </dxo-argument-axis>
  <dxo-tooltip
  fontsize="123"
  [enabled]="true"
  [customizeTooltip]="customizeTooltip"
></dxo-tooltip>
<dxo-export [enabled]="true"></dxo-export>
</dx-chart>



<div class="chart_environment">
  <div id="custom_markup_container">
    <svg version="1.1" width="300px" height="260px">
      <path d="M 13 407 L 128 407 L 232 39 L 13 39" fill="#6D39C3"></path>
      <path
        d="M 46 381 L 161 381 L 265 13 L 46 13"
        opacity="0.5"
        fill="#6D39C3"
      ></path>
      <path d="M 638 365 L 630 396 L 799 396 L 807 365" fill="#6D39C3"></path>
      <path
        d="M 609 376 L 601 407 L 770 407 L 778 376"
        opacity="0.5"
        fill="#6D39C3"
      ></path>
      <text
        transform="translate(30,89)"
        style="
          fill: #ffffff;
          font-family: 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana,
            sans-serif;
          font-size: 36px;
          font-weight: bold;
        "
      >
        <tspan x="0" y="0">Export</tspan>
        <tspan x="0" y="38">Custom</tspan>
        <tspan x="0" y="76">Markup</tspan>
      </text>
      <text
        transform="translate(32,199)"
        style="
          opacity: 0.8;
          fill: #ffffff;
          font-family: 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana,
            sans-serif;
          font-size: 14px;
        "
      >
        <tspan x="0" y="0">Export a chart with</tspan>
        <tspan x="0" y="19.2">custom elements</tspan>
      </text>
      <text
        x="650"
        y="385"
        style="
          opacity: 0.8;
          fill: #ffffff;
          font-family: 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana,
            sans-serif;
          font-size: 12px;
        "
      >
        UNdata (www.data.un.org)
      </text>
      <path
        opacity="0.8"
        d="M 0 0 L 820 0 L 820 420 L 0 420 L 0 0"
        stroke="#999999"
        stroke-width="1"
        stroke-linecap="butt"
        fill="none"
        stroke-linejoin="miter"
      ></path>
    </svg>
  </div>
  </div>
  <div class="controls-pane">
    <dx-button
      icon="export"
      text="Export"
      type="default"
      [width]="145"
      (onClick)="export()"
    >
    </dx-button>
    </div>
-->

<div class="chart_environment">
  <div id="custom_markup_container">
    <svg version="1.1" width="820px" height="420px">
      <path d="M 13 407 L 128 407 L 232 39 L 13 39" fill="#6D39C3"></path>
      <path
        d="M 46 381 L 161 381 L 265 13 L 46 13"
        opacity="0.5"
        fill="#6D39C3"
      ></path>
      <path d="M 638 365 L 630 396 L 799 396 L 807 365" fill="#6D39C3"></path>
      <path
        d="M 609 376 L 601 407 L 770 407 L 778 376"
        opacity="0.5"
        fill="#6D39C3"
      ></path>
      <text
        transform="translate(30,89)"
        style="
          fill: #ffffff;
          font-family: 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana,
            sans-serif;
          font-size: 21px;
          font-weight: bold;
        "
      >
       <tspan x="0" y="0">Lucro Bruto</tspan>
        <tspan x="0" y="38">R${{valorVenda}}</tspan>
        <tspan x="0" y="114">Lucro Líquido</tspan>
        <tspan x="0" y="160">R${{lucroLiquido}}</tspan>

      </text>

      <text
      x="650"
      y="385"
      style="
        opacity: 0.8;
        fill: #ffffff;
        font-family: 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana,
          sans-serif;
          font-weight: bold;
        font-size: 12px;
      "
    >
    {{vendaDataInicial}} - {{vendaDataFinal}}
    </text>


      <path
      opacity="0.8"
      d="M 0 0 L 820 0 L 820 420 L 0 420 L 0 0"
      stroke="#999999"
      stroke-width="1"
      stroke-linecap="butt"
      fill="none"
      stroke-linejoin="miter"
    ></path>
    </svg>
  </div>
  <dx-chart
  id="chart"
  title="Venda Diárias"
  [dataSource]="objetoFiltro"
>
  <dxo-legend [visible]="false"></dxo-legend>
  <dxi-series type="bar"  argumentField="dataVenda"
  valueField="valorTotal">>

  </dxi-series>
  <dxo-argument-axis [tickInterval]="5">
    <dxo-label [customizeText]="customizeLabel"></dxo-label>
    <dxo-label>
      <dxo-format type="decimal"></dxo-format>
    </dxo-label>
  </dxo-argument-axis>
  <dxo-tooltip
  fontsize="123"
  [enabled]="true"
  [customizeTooltip]="customizeTooltip"
></dxo-tooltip>
<dxo-export [enabled]="true"></dxo-export>
</dx-chart>

</div>

<div class="controls-pane">
  <dx-button
    icon="export"
    text="Export"
    type="default"
    [width]="145"
    (onClick)="export()"
  >
  </dx-button>
</div>

</mat-card>
<!--
<mat-card>
  <mat-card-content fxLayout="column">
    <div fxLayout="column" fxLayoutAlign.gt-xs="center center" >

      <span class="border border-primary"></span>
      <div class="container" >
          <div class="item" >Valor gasto com o distribuidor</div>
          <div class="item" >Total de produtos vendidos</div>
          <div class="item" >Total de clientes cadastrados</div>
          <div class="item" >Ticket médio</div>

      </div>
      <div class="container">
        <div class="item1" >R${{valorDistribuidor}} gastos</div>
        <div class="item1" >{{quantidadeProduto}} unidad.</div>
        <div class="item1" >{{clientesCadastrados}} </div>
        <div class="item1" >R${{ticketMedio}}</div>
    </div>


    </div>
  </mat-card-content>
</mat-card>
-->

<mat-card>
  <mat-card-content fxLayout="column">
    <div fxLayout="column" fxLayoutAlign.gt-xs="center center" >
      <div class="row">
        <div class="column">
          <div class="item" >Valor gasto com o distribuidor</div>

        </div>
        <div class="column">
          <div class="item" >Total de produtos vendidos</div>

        </div>
        <div class="column">
          <div class="item" >Total de clientes cadastrados</div>

        </div>
        <div class="column">
          <div class="item" >Ticket médio</div>

        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="item1" >R${{valorDistribuidor}} gastos</div>

        </div>
        <div class="column">
          <div class="item1" >{{quantidadeProduto}} unidad.</div>

        </div>
        <div class="column">
          <div class="item1" >{{clientesCadastrados}} </div>

        </div>
        <div class="column">
          <div class="item1" >R${{ticketMedio}}</div>
        </div>
      </div>


    </div>
  </mat-card-content>
</mat-card>

