<div class="titulo">
  <h1>
    Relatórios
  </h1>
</div>

<div class="relatorio" matTooltipPosition="left">
  <ul class="grid-container">

    <li>
      <button class="mat-button mat-raised-button mat-accent mat-button-base"
        title="{{'LABEL_RELATORIO_VENDA_DIA' | i18n}}" routerLink="/administracao/venda/consulta">
        <mat-icon>assessment</mat-icon>
        {{'LABEL_RELATORIO_VENDA_DIA' | i18n}}
        </button>
    </li>

    <li>
      <button class="mat-button mat-raised-button mat-accent mat-button-base"
        title="{{'LABEL_RELATORIO_VENDA_MES' | i18n}}" routerLink="/administracao/venda/consultam">
        <mat-icon>assessment</mat-icon>
        {{'LABEL_RELATORIO_VENDA_MES' | i18n}}
          </button>
    </li>

    <li>
      <button class="mat-button mat-raised-button mat-accent mat-button-base"
        title="{{'LABEL_RELATORIO_CLIENTES' | i18n}}" routerLink="/administracao/venda/consultacliente">
        <mat-icon>assessment</mat-icon>
        {{'LABEL_RELATORIO_CLIENTES' | i18n}}
          </button>
    </li>

    <li class="grid">
      <button class="mat-button mat-raised-button mat-accent mat-button-base"
        title="{{'LABEL_RELATORIO_CLIENTES_INDIVIDUAL' | i18n}}" routerLink="/administracao/venda/consultaindividual">
        <mat-icon>assessment</mat-icon>
        {{'LABEL_RELATORIO_CLIENTES_INDIVIDUAL' | i18n}}
      </button>
    </li>

    <li>
      <button class="mat-button mat-raised-button mat-accent mat-button-base"
        title="{{'LABEL_RELATORIO_TIPO_PRODUTO' | i18n}}" routerLink="/administracao/venda/vendaTipo">
        <mat-icon>assessment</mat-icon>
        {{'LABEL_RELATORIO_TIPO_PRODUTO' | i18n}}
        </button>
    </li>




  </ul>
</div>
<div class="image">
  <figure>
    <img src="assets/img/Wavy_Bus-14_Single-11-1-Convertido.png" width="55%">
  </figure>
</div>

